@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    
    margin: 0;
    padding: 0;

}
html {
  scroll-behavior: smooth;
}
body{
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #181818;
    direction: rtl;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7f0283; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f0283; 
  }

header{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom:#cfcfcf71 1.5px solid;

    
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #a20dc0, #7f0283, #4f005f);
}


#navbtn{
    display: flex;
    gap: 30px;
    font-size: 25px;
    margin-right: 25px;
    width:40%
    }

    
#navbtn a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.7s ease;
    padding: 10px 15px 10px 15px;
}

#navbtn a:hover{
    transform: scale(1.1);
    color: #7f0283;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 10px;
}

.navpic{
    font-family: "Caveat", cursive;
    color: white;
    font-size: 40px;
    padding-left: 2rem;
}



.home{
    height: 90vh;
    width: 100vw;
    background: url(images/background\ main\ site.jpg);
    display: flex;
    justify-content: center;
    text-align: center;

}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   max-width: 600px;
    z-index: 10;
    
}

.propic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.propic img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    max-height: 200px;

    border-radius: 1rem;
    background-color: #999999b2;
    box-shadow: 0px 4px 51px 6px #a51cc0ec;
  }

.home-content-child{
    

    color: white;
    z-index: 10;
    text-shadow:#a51cc0ec ;
    

}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color:#ffffff
    
}


.home-content h3 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;

}


.home-content p {
    font-size: 16px;
    margin: 20px 0 40px; 
    color: white;
}

.aboutme{

    height: 40vh;
    width: 100vw;
    background-color:  #520066;
}

.aboutme-text{
    color: #ffffff;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.aboutme-text p{
    font-size: 20px;
    padding-right: 2rem;
    width: 30rem;
}

.aboutme-text img{
    margin-top: 4rem;
    margin-left: 20rem;
    height: 300px;
    width: 300px;
    float: left;
    border-radius: 4rem;
}

.aboutme h1{
    
    border-radius: 10px;
    margin-left: 20rem;
    margin-top: 5rem;
}
.grid-container-parent{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;


}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 900px;
    gap: 1rem;





  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 350px;
    width: 250px;
}

.grid-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;



}

.purple-button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.purple-button:hover {
    background-color: #8a2be2;
    transform: scale(1.05);
}

.purple-button:active {
    background-color: #4b0082;
}



.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #403949; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
  }
  
  .contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .contact input[type="text"],
  .contact input[type="email"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #6a0dad; 
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: #474747;
    color: #c4c4c4;
    
  }
  
  .contact input[type="text"]:focus,
  .contact input[type="email"]:focus {
    border-color: #8a2be2; 
    outline: none;
  }
  
  .contact a {
    display: inline-block;
    background-color: #6a0dad; 
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }
  
  .contact a:hover {
    background-color: #8a2be2; 
    transform: scale(1.05);
  }
  
  .contact a:active {
    background-color: #4b0082; 
  }
  .contact input::placeholder{
    color:white
  }
   
  #context{
    height: 50px;
    
  }


.footer1{

    display:flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ffffffb9;
    padding: 20px;
}

.f1section{

    display:flex;
    flex-direction: row-reverse; 
    font-size: 20px;
    align-items: center;
    gap: 1rem;
    
}

.f1section img{

    max-width: 50px;
    
}

.bottom{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color:white;
    background-color: #000000;
    padding: 10px 50px 10px 50px;
    font-size: 20px;

}









